.app-bar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.tool-bar {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 25px;
  padding-right: 25px;
}

.box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: row;
}

.settings-icon {
  width: 45px;
  height: 45px;

  &.rotate {
    animation: rotate 0.5s linear infinite;
  }
}
