.fixed-button {
  position: fixed;
  bottom: 100px;
  right: 16px;
  z-index: 1000;
}

.fab {
  background-color: #1976d2; // primary color
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.refresh-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;

  &.rotate {
    animation: rotate 0.5s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.snackbar {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #323232;
  color: white;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.message {
  flex-grow: 1;
}

.close-button {
  color: white;
}
